body {
    font-family: 'Noto Serif', serif;
    width: 901px;
    margin: auto;
}

header {
    content: " ";
    display: block;
}

header img {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

#topHead {
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
    margin-top: 10px;
    line-height: 27px;
}
#bottomHead {
    font-size: 10px;
}

nav {
    float: right;
    margin-right: 1px;
}
hr {
    background-image: url(img/hr-img.png);
    background-repeat: repeat;
    height: 15px;
    border: none;
    margin-top: 30px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin: 5px;
    line-height: 35px;
}

body {
    font-family: 'Noto Serif', serif;
    width:901px;
}

h2, h3 {
    text-transform: uppercase;
    color: grey;
    font-family: 'Strait', sans-serif;
    font-size: 13px;
}

.articlehead {
    display: block
}

#print {
    float: right;

}

#printText {
    text-transform: uppercase;
    color: grey;
    margin-bottom: 0%;
    margin-top: 0%;
}

#cake {
    width: 100%;
}
article p{
    font-size: 17px;
    color: rgb(78, 78, 78);
}

.table {
    font-family: 'Patrick Hand', cursive;
}

.container {
    background-image: url(img/list-bg.png);
    position: relative;
    text-align: left;
    color: black;
}

 .Tables {
  display: inline-block;
}

#table1 {
    float: left;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(70, 64, 50);

}

#table2 {
    float: right;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(70, 64, 50);
}
#linethrough {
    text-decoration-line: line-through;
}

ul, li {
    list-style-type: none;
}

li {
    padding-left: 0;
    margin-left: 0;
}

 button {
    margin-right: 2em;
    float: right;
    background-color: rgb(231, 90, 90);
    color: white;
    border: none;
    height: 60px;
    width: 200px;
    
}

footer img {
    float: left;
    margin-right: 10px;
}

footer button {
    float: right;
}
footer h4 {
    font-size: 20px;
    line-height: 0px;
}
#info {
    font-size: 15px;
}

#footlogo {

    margin-left: 435px;
    opacity: 25%;
}
#copyright {
    text-align: center;
    color: gray;
    font-size: 15px;
}